<header th:fragment="mainheader">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/klinik/menu}">
      HOSPITAL MELAKA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
      	<!-- A menu link to lists order types -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/klinik/menu}">HOME</a>
        </li>
        
        <!-- A menu link to add a new order type -->
         <li class="nav-item">
          <a class="nav-link" th:href="@{/patient/list}">PATIENT</a>
        </li> 
        
        <li class="nav-item">
          <a class="nav-link" th:href="@{/patient/list}">SEARCH APPOINTMENT</a>
        </li> 
        
         <li class="nav-item">
          <a class="nav-link" th:href="@{/doctor/list}">DOCTOR</a>
        </li> 
        
      </ul>
    </div>
  </nav>
</header>